.blog-post {
  @extend .panel;

  .blog-heading {
    @extend .panel-heading;

    * {
      display: inline;
      text-align: center;
    }
  }

  .blog-subheading {
    @extend .panel-subheading;

    font-size: $size_blog_subheading;
  }

  .blog-body {
    @extend .panel-body;
  }
}
