// colours from http://clrs.cc/

.colour-white, .color-white {
  color: white;

  a:visited {
    color: white;
  }
}

.colour-navy, .color-navy {
  color: #001f3f;

  a:visited {
    color: #001f3f;
  }
}

.colour-blue, .color-blue {
  color: #0074D9;

  a:visited {
    color: #0074D9;
  }
}

.colour-aqua, .color-aqua {
  color: #7FDBFF;

  a:visited {
    color: #7FDBFF;
  }
}

.colour-teal, .color-teal {
  color: #39CCCC;

  a:visited {
    color: #39CCCC;
  }
}

.colour-olive, .color-olive {
  color: #3D9970;

  a:visited {
    color: #3D9970;
  }
}

.colour-green, .color-green {
  color: #2ECC40;

  a:visited {
    color: #2ECC40;
  }
}

.colour-lime, .color-lime {
  color: #01FF70;

  a:visited {
    color: #01FF70;
  }
}

.colour-yellow, .color-yellow {
  color: #FFDC00;

  a:visited {
    color: #FFDC00;
  }
}

.colour-orange, .color-orange {
  color: #FF851B;

  a:visited {
    color: #FF851B;
  }
}

.colour-red, .color-red {
  color: #FF4136;

  a:visited {
    color: #FF4136;
  }
}

.colour-maroon, .color-maroon {
  color: #85144b;

  a:visited {
    color: #85144b;
  }
}

.colour-fushsia, .color-fushsia {
  color: #F012BE;

  a:visited {
    color: #F012BE;
  }
}

.colour-purple, .color-purple {
  color: #B10DC9;

  a:visited {
    color: #B10DC9;
  }
}

.colour-black, .color-black {
  color: #111111;

  a:visited {
    color: #111111;
  }
}

.colour-grey, .color-gray {
  color: #AAAAAA;

  a:visited {
    color: #AAAAAA;
  }
}

.colour-silver, .color-silver {
  color: #DDDDDD;

  a:visited {
    color: #DDDDDD;
  }
}
