.colour-white, .color-white {
  color: white;

  a:visited {
    color: white;
  }
}

.colour-black, .color-black {
  color: black;

  a:visited {
    color: black;
  }
}

.colour-red, .color-red {
  color: red;

  a:visited {
    color: red;
  }
}

.colour-yellow, .color-yellow {
  color: yellow;

  a:visited {
    color: yellow;
  }
}

.colour-green, .color-green {
  color: green;

  a:visited {
    color: green;
  }
}
