// colours from http://clrs.cc/

.colour-navy, .color-navy {
  color: $colour_navy;

  a:visited {
    color: $colour_navy;
  }
}

.colour-blue, .color-blue {
  color: $colour_blue;

  a:visited {
    color: $colour_blue;
  }
}

.colour-aqua, .color-aqua {
  color: $colour_aqua;

  a:visited {
    color: $colour_aqua;
  }
}

.colour-teal, .color-teal {
  color: $colour_teal;

  a:visited {
    color: $colour_teal;
  }
}

.colour-olive, .color-olive {
  color: $colour_olive;

  a:visited {
    color: $colour_olive;
  }
}

.colour-green, .color-green {
  color: $colour_green;

  a:visited {
    color: $colour_green;
  }
}

.colour-lime, .color-lime {
  color: $colour_lime;

  a:visited {
    color: $colour_lime;
  }
}

.colour-yellow, .color-yellow {
  color: $colour_yellow;

  a:visited {
    color: $colour_yellow;
  }
}

.colour-orange, .color-orange {
  color: $colour_orange;

  a:visited {
    color: $colour_orange;
  }
}

.colour-red, .color-red {
  color: $colour_red;

  a:visited {
    color: $colour_red;
  }
}

.colour-maroon, .color-maroon {
  color: $colour_maroon;

  a:visited {
    color: $colour_maroon;
  }
}

.colour-fuchsia, .color-fuchsia {
  color: $colour_fushsia;

  a:visited {
    color: $colour_fushsia;
  }
}

.colour-purple, .color-purple {
  color: $colour_purple;

  a:visited {
    color: $colour_purple;
  }
}

.colour-black, .color-black {
  color: $colour_black;

  a:visited {
    color: $colour_black;
  }
}

.colour-grey, .color-gray {
  color: $colour_grey;

  a:visited {
    color: $colour_grey;
  }
}

.colour-silver, .color-silver {
  color: $colour_silver;

  a:visited {
    color: $colour_silver;
  }
}

.colour-white, .color-white {
  color: $colour_white;

  a:visited {
    color: $colour_white;
  }
}
