.footer {
  background-color: $colour_footer_background;

  font-family: 'Dosis', sans-serif;

  display: flex;
  position: absolute;
  align-items: center;

  width: 100%;
  height: 3em;
  bottom: 0;
  left: 0;

  ul {
    list-style: none;
    flex: 1;

    li {
      padding: 0 0.5em;
      display: inline;
    }

    a {
      color: $colour_black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .brand {
    float: right;
    padding: 0.25em 0.8em;

    // text based brands
    font-size: x-large;
    text-transform: uppercase;
    color: $colour_footer_brand;

    // TODO: image based brands
  }
}
