.nav {
  padding: 0;

  * {
    padding: 0;

    // printers
    @media print {
      display: none;
    }
  }

  ul {
    list-style: none;

    // iPhone 4/45 to iPhone 6
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
      display: none;
    }

    // iPhone 6+
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
      display: none;
    }
  }

  li {
    font-size: x-large;
    font-weight: bold;

    color: $colour_navbar_foreground;

    a {
      color: $colour_navbar_foreground;
      text-decoration: none;
    }
  }

  .enabled a {
    text-decoration: underline;
  }

  // header (toggle button and logo)
  .header {
    .toggle {
      // the essentials
      display: none;
      background: none;
      border: 0;

      // position
      margin-top: 0.75em;
      margin-left: 0.5em;

      // text
      font-size: xx-large;

      // iPhone 4/45 to iPhone 6
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2) {
        display: block;
      }

      // iPhone 6+
      @media only screen
      and (min-device-width: 414px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 3) {
        display: block;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.bar {
  display: block;
  width: 100%;
  float: left;

  margin: 0;

  * {
    float: left;

    margin: 0;
  }
  
  ul {
    float: right;
    padding-top: 0.95em;
  }

  li {
    padding: 0.25em 0 calc(0.25em - 0.4em) 0.4em;
    
    &:not(:last-child):before {
      padding-left: 0.4em;
      content: " \2022 "
    }
    
    &:last-child {
      padding-right: 1.5em;
    }
  }

  .brand {
    padding: 0.25em 0.8em calc(0.25em - 0.4em) 0.8em;

    font-size: x-large;
    color: $colour_navbar_brand;
    font-weight: bold;
  }
}
