.nav-bar {
  display: block;
  width: 100%;
  float: left;

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: $colour_navbar_background;

  .enabled {
    background-color: $colour_navbar_highlight;
    border-bottom-color: $colour_navbar_highlight !important;
  }

  li {
    float: left;
    padding: 0.25em 0.8em calc(0.25em - 0.4em) 0.8em;

    font-size: x-large;
    color: $colour_navbar_foreground;
    font-weight: bold;

    border-bottom: 0.4em solid $colour_navbar_background;

    a {
      color: $colour_navbar_foreground;
      text-decoration: none;
    }

    &:not(.brand) {
      border-left: 0.01em solid #ccc;
      border-right: 0.01em solid #ccc;
    }

    // so the first nav item doesn't have a left border
    &:nth-child(2) {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &:hover:not(.brand) {
      border-bottom-color: $colour_navbar_highlight;
    }
  }

  .brand {
    // image based brands
    font-size: x-large;
    color: $colour_navbar_brand;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
