.nav {
  padding: 0;

  * {
    padding: 0;
  }

  ul {
    list-style: none;
  }

  li {
    font-size: x-large;
    font-weight: bold;

    color: $colour_navbar_foreground;

    a {
      color: $colour_navbar_foreground;
      text-decoration: none;
    }
  }

  .enabled a {
    text-decoration: underline;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.bar {
  display: block;
  width: 100%;
  float: left;

  margin: 0;

  * {
    float: left;

    margin: 0;
  }
  
  ul {
    float: right;
    padding-top: 0.95em;
  }

  li {
    padding: 0.25em 0 calc(0.25em - 0.4em) 0.4em;
    
    &:not(:last-child):before {
      padding-left: 0.4em;
      content: " \2022 "
    }
    
    &:last-child {
      padding-right: 1.5em;
    }
  }

  .brand {
    padding: 0.25em 0.8em calc(0.25em - 0.4em) 0.8em;

    font-size: x-large;
    color: $colour_navbar_brand;
    font-weight: bold;
  }
}
