.panel {
  display: inline-block;

  // width, height
  width: 100%;
  height: 100%;

  // margin
  margin-top: 1em;
  margin-bottom: 0.5em;

  // text presets
  text-align: left;

  .panel-heading {
    // font
    font-family: 'Raleway', sans-serif;

    // padding
    padding: 0.4em;

    // background
    background-color: $colour_panel_heading;
  }
  
  .panel-subheading {
    // padding
    padding: 0.2em;

    // background
    background-color: $colour_panel_subheading;
  }

  .panel-body {
    // padding
    padding: 0.3em;

    // text, lists, images, etc
    h1, h2, h3, h4, h5, h6, p, ul, li, img {
      margin: 0.45em;
    }
  }
}
