.portal {
  @extend .panel;
  text-align: center;

  // iPhone 4/4s to iPhone 6
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 100%;
  }

  // iPhone 6+
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    width: 100%;
  }

  .portal-heading {
    @extend .panel-heading;
    display: block;
    font-size: $size_portal_heading;
    font-weight: bold;
  }

  .portal-subheading {
    @extend .panel-subheading;
    display: block;
    font-size: $size_portal_subheading;
  }

  .portal-content {
    @extend .panel-body;
    .fa {
      padding: 0;
    }
  }
}
