table {
  width: 100%;
  max-width: 100%;

  text-align: left;

  border-collapse: collapse;

  thead {
    border-bottom: 1px solid #333;
  }

  td, th {
    padding: 0.5em 2em;
  }

  tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
