<div class="nav bar">
    <img class="brand left" src="/assets/img/logo_blue.png" width="225" height="75"></img>

    <ul>
        <li{% if page.section == 'home' %} class="enabled"{% endif %}><a href="/">HOME</a></li>
        <li{% if page.section == 'blog' %} class="enabled"{% endif %}><a href="/blog">BLOG</a></li>
        <li{% if page.section == 'software' %} class="enabled"{% endif %}><a href="/software">SOFTWARE</a></li>
        <li{% if page.section == 'gaming' %} class="enabled"{% endif %}><a href="/gaming">GAMING</a></li>
    </ul>
</div>

<script>
    $(document).ready(function() {
      var nav = $('.nav')
      $(window).scroll(function () {
        if ($(window).scrollTop() > 30) {
          nav.addClass('side').removeClass('bar');
        }
        if ($(window).scrollTop() < 31) {
          nav.addClass('bar').removeClass('side');
        }
      });
    });
</script>
