<ul class="nav-bar">
    <li class="brand">LEXTEAM</li>
    
    {% assign url = page.url|remove:'index.html' %}

    <li{% if url == '/' %} class="enabled"{% endif %}><a href="/">HOME</a></li>
    <li{% if url == '/blog/' %} class="enabled"{% endif %}><a href="/blog">BLOG</a></li>
    <li{% if url == '/software/' %} class="enabled"{% endif %}><a href="/software">SOFTWARE</a></li>
    <li{% if url == '/gaming/' %} class="enabled"{% endif %}><a href="/gaming">GAMING</a></li>
</ul>

<script>
    $(document).ready(function() {
      $(window).scroll(function () {
        if ($(window).scrollTop() > 25) {
          $('.nav-bar').addClass('nav-bar-fixed');
          $('.nav-bar').removeClass('nav-bar');
        }
        if ($(window).scrollTop() < 26) {
          $('.nav-bar-fixed').addClass('nav-bar');
          $('.nav-bar-fixed').removeClass('nav-bar-fixed');
        }
      });
    });
</script>