<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

<link rel="stylesheet" href="/violet/dist/violet.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.2.3/css/slider-pro.min.css"/>
<link rel="stylesheet" href="/assets/css/application.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

<link type="text/plain" rel="author" href="/humans.txt" />
