.side {
  top: 0;
  position: fixed;
  display: inline-block;
  z-index: 5;

  li {
    padding: 0.4em 0.8em 0.4em calc(0.8em - 0.2em);
    border-left: 0.4em solid rgba(1, 1, 1, 0);

    &:hover {
      border-left-color: black;
    }
  }

  .brand {
    display: none;
  }
}
