.nav-bar-fixed {
  top: 0;
  padding: 0;
  position: fixed;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  z-index: 5;

  li {
    font-size: x-large;
    padding: 0.4em 0.8em 0.4em calc(0.8em - 0.2em);
    border-left: 0.4em solid rgba(1, 1, 1, 0);

    a {
      color: black;
      text-decoration: none;
    }

    &:hover {
      border-left-color: black;
    }
  }

  .brand {
    display: none;
  }
}
