@font-face {
  font-family: 'Blogger Sans';
  src: url('/css/font/blogger_sans-webfont.eot');
  src: url('/css/font/blogger_sans-webfont.eot?#iefix') format('embedded-opentype'), url('/css/font/blogger_sans-webfont.woff2') format('woff2'), url('/css/font/blogger_sans-webfont.woff') format('woff'), url('/css/font/blogger_sans-webfont.ttf') format('truetype'), url('/css/font/blogger_sans-webfont.svg#blogger_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Blogger Sans';
  src: url('/css/font/blogger_sans-bold-webfont.eot');
  src: url('/css/font/blogger_sans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/font/blogger_sans-bold-webfont.woff2') format('woff2'), url('/css/font/blogger_sans-bold-webfont.woff') format('woff'), url('/css/font/blogger_sans-bold-webfont.ttf') format('truetype'), url('/css/font/blogger_sans-bold-webfont.svg#blogger_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Blogger Sans';
  src: url('/css/font/blogger_sans-light-webfont.eot');
  src: url('/css/font/blogger_sans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/css/font/blogger_sans-light-webfont.woff2') format('woff2'), url('/css/font/blogger_sans-light-webfont.woff') format('woff'), url('/css/font/blogger_sans-light-webfont.ttf') format('truetype'), url('/css/font/blogger_sans-light-webfont.svg#blogger_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Blogger Sans';
  src: url('/css/font/blogger_sans-medium-webfont.eot');
  src: url('/css/font/blogger_sans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/css/font/blogger_sans-medium-webfont.woff2') format('woff2'), url('/css/font/blogger_sans-medium-webfont.woff') format('woff'), url('/css/font/blogger_sans-medium-webfont.ttf') format('truetype'), url('/css/font/blogger_sans-medium-webfont.svg#blogger_sansmedium') format('svg');
  font-weight: 600;
  font-style: normal;
}
