.footer {
    background: white;
  
    height: 3em;
    
    display: flex;
    align-items: center;
    
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    
  ul {
    list-style: none;
    flex: 1;
    li {
      padding: 0 0.5em;
      display: inline;
    }
    a {
        color: #000;
    }
  }

  .brand {
    float: right;
    padding-right: 0.2em;
  }
}
