.home-display {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.home-content {
  display: inline-block;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  p{
    font-size: 1.2em;
  }
}

.content-well {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
