.home-display {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.home-content {
  display: inline-block;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  p{
    font-size: 1.2em;
  }
}

.content-well {
  width: 80%;
}

#home-slider {
  width: 100%;
  height: 100%;
  max-width: 1000px !important;
  max-height: 400px !important;
  
  padding-bottom: 3em;
  
  *{
    max-height: 400px !important;
  }
}
