.nav-bar {
  display: block;
  width: 100%;
  float: left;

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: black;

  font-family: 'Blogger Sans', sans-serif;

  .enabled {
    background-color: #33cc33;
    border-bottom-color: #33cc33 !important;
  }

  li {
    float: left;
    padding: 0.25em 0.8em calc(0.25em - 0.4em) 0.8em;
    
    font-size: x-large;
    color: white;
    font-weight: bold;

    border-bottom: 0.4em solid black;

    a {
      color: white;
      text-decoration: none;
    }

    &:not(.brand) {
      border-right: 0.05em solid #ccc;
    }

    &:last-child {
      border-right: none;
    }

    &:hover:not(.brand) {
      border-bottom-color: #33cc33;
    }
  }

  .brand {
    float: right;
  }
}

.nav-bar-fixed {
  top: 0;
  padding: 0;
  position: fixed;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  z-index: 5;
  li{
    font-size: x-large;
    padding: 0.4em 0.8em 0.4em calc(0.8em - 0.2em);
    //background: #efefef;
    border-left: 0.4em solid rgba(1, 1, 1, 0);
    
    a {
      color: black;
      text-decoration: none;
    }
    
    &:hover{
      border-left-color: black;
    }
  }
  
  .brand {
    display: none;
  }
}
