.panel {
  display: inline-block;

  // width, height
  width: 80%;
  height: 80%;

  // border
  border: 0.2em black solid;
  border-radius: 0.4em;

  // text presets
  text-align: left;

  .panel-heading {
    // padding
    padding: 0.4em;

    // background
    background-color: #cacaca;
  }

  .panel-body {
    // padding
    padding: 0.3em;
  }
}