<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="/violet/release/1.1.1/violet.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.2.3/css/slider-pro.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/application.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

    <link type="text/plain" rel="author" href="/humans.txt" />
</head>
<body>

<ul class="nav-bar">
    <li class="brand right">LEXTEAM</li>

    <li{% if page.section == 'home' %} class="enabled"{% endif %}><a href="/">HOME</a></li>
    <li{% if page.section == 'blog' %} class="enabled"{% endif %}><a href="/blog">BLOG</a></li>
    <li{% if page.section == 'software' %} class="enabled"{% endif %}><a href="/software">SOFTWARE</a></li>
    <li{% if page.section == 'gaming' %} class="enabled"{% endif %}><a href="/gaming">GAMING</a></li>
</ul>

<script>
    $(document).ready(function() {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 25) {
                $('.nav-bar').addClass('nav-bar-fixed');
                $('.nav-bar').removeClass('nav-bar');
            }
            if ($(window).scrollTop() < 26) {
                $('.nav-bar-fixed').addClass('nav-bar');
                $('.nav-bar-fixed').removeClass('nav-bar-fixed');
            }
        });
    });
</script>

<main>
    {{ content }}
</main>

<footer class="footer">
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    <h3 class="brand">LEXTEAM</h3>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.2.3/js/jquery.sliderPro.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#home-slider').sliderPro();
    });
</script>

</body>
</html>
