<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description"
          content="Lexteam is a small team consisting of three developers, of which strive to create new and innovate software." />
    {% endif %}
    <meta name="author" content="Lexteam" />

    <link rel="stylesheet" href="/violet/release/1.2.0/violet.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.2.3/css/slider-pro.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/application.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
    <script src="/violet/release/1.2.0/violet.js"></script>

    <link type="text/plain" rel="author" href="/humans.txt" />
</head>
<body>

<nav class="nav bar">
    <div class="header">
        <button type="button" class="toggle">
            <i class="fa fa-bars" id="navbar-menu"></i>
        </button>
        <a href="/">
            <img class="brand" src="/assets/img/logo_blue.png" height="75" />
        </a>
    </div>

    <ul id="nav-bar">
        <li{% if page.section == 'home' %} class="enabled"{% endif %}><a href="/">Home</a></li>
        <li{% if page.section == 'blog' %} class="enabled"{% endif %}><a href="/blog">Blog</a></li>
        <li{% if page.section == 'software' %} class="enabled"{% endif %}><a href="/software">Software</a></li>
        <li{% if page.section == 'gaming' %} class="enabled"{% endif %}><a href="/gaming">Gaming</a></li>
    </ul>
</nav>

<main>
    {{ content }}
</main>

<footer class="footer">
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    <h3 class="brand">Lexteam</h3>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slider-pro/1.2.3/js/jquery.sliderPro.min.js"></script>

</body>
</html>
