<!DOCTYPE html>
<html>
    <head>
        {% include default-head.html %}
    </head>
    <body>
        {% include default-libs.html %}
        
        <main>
            {% include default-nav.html %}
        
            {{ content }}
    
            {% include default-footer.html %}
        </main>

        
        <script type="text/javascript">
            jQuery( document ).ready(function( $ ) {
              $( '#home-slider' ).sliderPro();
              });
        </script>
    </body>
</html>
