---
layout: default
---
<div class="page-container">
    <div class="blog-post">
        <div class="blog-heading">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="blog-subheading">
			<span>
				Posted on {{ page.date | date_to_long_string }}. Authored by {{ page.author }}.
			</span>
        </div>
        <div class="blog-body">
            {{ content }}
        </div>
    </div>

    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.url|remove:'index.html' }}';
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//lexteam.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
