html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3em;
  min-height: 100%;

  background-color: $colour_background;

  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
}

a {
  color: $colour_hyperlink;
  text-decoration: none;

  &:visited {
    color: $colour_hyperlink_visited;
  }
}

main {
  padding-bottom: 1em;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
  
  * {
    text-align: center;
  }
}

.right {
  text-align: right;
}
