.blog-post {
  @extend .panel;

  .blog-heading {
    @extend .panel-heading;
  }

  .blog-subheading {
    // padding
    padding: 0.4em;

    // background
    background-color: $colour_blog_subheading;
  }

  .blog-body {
    @extend .panel-body;

    h1, h2, h3, h4, h5, h6, p, ul, li, img {
      margin: 0.45em;
    }
  }
}
