.blog-post {
  @extend .panel;

  .blog-heading {
    @extend .panel-heading;
    *{
      display: inline;
      text-align: center;
    }
  }

  .blog-subheading {
    @extend .panel-subheading;
    font-size: 0.75rem;
  }

  .blog-body {
    @extend .panel-body;

    h1, h2, h3, h4, h5, h6, p, ul, li, img {
      margin: 0.45em;
    }
  }
}
