.page-container {
  margin-left: 15em;
  margin-right: 15em;

  .title {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    font-weight: bold;

    text-decoration: underline;

    padding-top: 2em;
    padding-bottom: 0.5em;
  }

  .subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    font-weight: bold;

    text-decoration: underline;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.page-display {
  width: 100%;

  margin-bottom: 2em;
}
