// Colours
//////////

$colour_background: #efefef;
$colour_lex_green: #7BD678;
$colour_lex_blue: #3D68CC;

// Colours for panels / blog

$colour_panel_heading: #cacaca;
$colour_panel_subheading: #c0c0c0;

// Colours for nav-bar

$colour_navbar_foreground: white;
$colour_navbar_background: #0288D1;
$colour_navbar_highlight: #40C4FF;
$colour_navbar_brand: $colour_lex_green;

// Colours for footer

//$colour_footer_background: #f25f5c;
$colour_footer_background: $colour_navbar_background;
$colour_footer_brand: $colour_lex_green;

// Colours for hyperlinks

$colour_hyperlink: #0096dd;
$colour_hyperlink_visited: #0073aa;
