// Colours
//////////

//$colour_background: #efefef;
$colour_background: #efefef;
$colour_lex_green: #40C4FF;
$colour_lex_blue: #0288D1;

// Colours for panels / blog

$colour_panel_heading: #cacaca;
$colour_blog_subheading: #c0c0c0;

// Colours for nav-bar

$colour_navbar_foreground: white;
$colour_navbar_background: $colour_lex_blue;
$colour_navbar_highlight: $colour_lex_green;

// Colours for footer

//$colour_footer_background: #f25f5c;
$colour_footer_background: $colour_lex_blue;
