// Colours
//////////

$colour_background: #efefef;
$colour_lex_green: #7BD678;

// Colours for panels / blog

$colour_panel_heading: #cacaca;
$colour_blog_subheading: #c0c0c0;

// Colours for nav-bar

$colour_navbar_foreground: white;
$colour_navbar_background: #3D68CC;
$colour_navbar_highlight: #7BD678;
